<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Auto width -->
<button class="btn btn1"><a href="https://github.com/devjohnpark/Yummy-Alarmmy"> DOWNLOAD </a><i class="fa fa-download"></i></button>
&nbsp;
<!-- Auto width -->
<button class="btn btn2"><a href="https://yummy-alarmmy.readthedocs.io/en/latest/"> DOCUMENTATION </a><i class="fa fa-download"></i></button>

<style>
    /* Style buttons */
    .btn {
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 10px;
    }
    .btn1 {
        background-color: #c0c0c0;
        color: #303030;
    }
    .btn2 {
        background-color: #303030;
        color: white;
    }
    /* Darker background on mouse-over */
    .btn:hover {
    opacity: 0.33;
    }
</style>