<div class="out">
    <div class="in">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Auto width -->
        <button class="btn btn1"><a href="https://github.com/devjohnpark/Yummy-Alarmmy"> DOWNLOAD </a><i class="fa fa-download"></i></button>
        &nbsp;
        <!-- Auto width -->
        <button class="btn btn2"><a href="https://yummy-alarmmy.readthedocs.io/en/latest/"> DOCUMENTATION </a><i class="fa fa-download"></i></button>
    </div>    
</div>

<style>
    .out {
    width: 100%;
    text-align: center;
    }
    .in {
    display: inline-block;
    }
    /* Style buttons */
    .btn {
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    cursor: pointer;
    font-size: 20px;
    font-family: Georgia, serif;
    }
    .btn1 {
        background-color: #E6E6FA;
        color: white;
    }
    .btn2 {
        background-color: #CBC3E3;
        color: white;
    }
    /* Darker background on mouse-over */
    .btn:hover {
    opacity: 0.33;
    }
</style>