<div class="out">
    <div class="in">
        <p>Easy and Convenient!</p>
        <p>No need to search matches one by one!</p>
        <p>Just simply typing in informs you of:</p>
            <ul>1. game schedules</ul>
            <ul>2. matching counterpart</ul>
            <ul>3. whether tickets are available</ul>
    </div>
</div>

<style>
    .out {
    width: 100%;
    text-align: center;
    }
    .in {
    display: inline-block;
    }
    p {
        color: black;
        font-weight: bold;
        font-family: Georgia, serif;
        font-size: 25px;
    }
    ul {
        color: black;
        font-size: 20px;
    }
</style>